{% block content %}

<div class = "problem-container" style="position:absolute; top: 42px; left: 0; right: 0; bottom: 0; overflow:hidden; padding: 1em;">
	<div class="problem-description" style="float:left; width: 50% ; overflow-y: auto; height: 100%; padding-right: 0.5em; padding-bottom: 0.5em">
		{{problem.display_file | safe}}
	</div>
	<!-- now we need to create the right column with text editor, submit button, and results pane -->
	<div class="right-pane" style="float:right; width: 50%; height: 100%; padding-left: 0.5em; padding-bottom: 0.5em">
		<div class="result-pane jumbotron" data-problem-id={{problem.id}} style="height: 20%; overflow-y: auto; margin-bottom: 0.5em">
			<div style="text-align: center;"><span style="padding-right: 4em;">Time Submitted</span><span>Result</span></div>
		</div>
		<select style="width: 20%;" class="form-control" id="sel{{problem.id}}">
			<option value="python" selected="selected">Python</option>
			<option value="javascript" >Javascript</option>
		</select>	   
		<div class="text-pane" data-problem-id={{problem.id}} style=" height: 70%;">
			<textarea class="text" style="width: 100%; height: 100%;"></textarea> <!--will need to grab code from here for submission-->
		</div>
		<div class="submit-pane" style=" height: 8%; text-align: center; padding: 1.75em">
			<button type="button" class="btn btn-outline-primary submit-btn" data-problem-id={{problem.id}}>SUBMIT CODE</button>
		</div>
	</div>
</div>

{% endblock content %}