{% block content %}
<div style="height:100%; width: 100%;">
	<div id="timer" style="float:right; padding-right: 1em;"></div>
	<ul class="nav nav-tabs">
		{% for problem in interview_problems %}
			{% if forloop.first %}
				<li class="nav-item" role="presentation"><a href="#{{problem.problem_name}}" role="tab" data-toggle="tab" class="nav-link active">{{problem.problem_name}}</a></li>	
			{% else %}
				<li class="nav-item" role="presentation"><a href="#{{problem.problem_name}}" role="tab" data-toggle="tab" class="nav-link">{{problem.problem_name}}</a></li>	
			{% endif %}
		{% endfor %}
	</ul>

	<!-- Tab Panes -->
	<div id="content" class="tab-content">
		{% for problem in interview_problems %}
			{% if forloop.first %}
				<div id="{{problem.problem_name}}" class="tab-pane active">
			{% else %}
				<div id="{{problem.problem_name}}" class="tab-pane">
			{% endif %}
			{% include "myservices/individual.html" with problem=problem only %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}









